{% extends "storefront/base.html" %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Processing order</h1>
            <p class="lead fw-normal text-white-50 mb-0">Temporary .. </p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <Summary>Order</Summary>
                </div>
                <div class="card-body">
                    {% for product in cart_products %}
                    {{ product.name }}
                    {% if product.is_sale %}
                    ${{ product.sale_price }}
                    {% else %}
                    ${{ product.price }}
                    {% endif %}

                    <br />
                    <small>

                        Quantity:
                        {% for key,value in quantities.items %}
                        {% if key == product.id|slugify %}
                        {{ value }}
                        {% endif %}
                        {% endfor %}
                    </small>
                    <br /><br />
                    {% endfor %}
                    <strong>
                        Total: $ {{ cart_total}}
                    </strong>
                    <br />
                    <a href="{% url  'cart_summary' %}" class="btn  btn-outline-secondary">Update Items</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Shipping Info
                </div>
                <div class="card-body">
                    {{ shipping_info.shipping_full_name }}<br />
                    {{ shipping_info.shipping_email }}<br />
                    {{ shipping_info.shipping_address1 }}<br />
                    {{ shipping_info.shipping_address2 }}<br />
                    {{ shipping_info.shipping_city }}<br />
                    {{ shipping_info.shipping_state }}<br />
                    {{ shipping_info.shipping_zipcode }}<br />
                    {{ shipping_info.shipping_country }}<br />
                    <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Update Shipping</a>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-header">
                    Billing Info
                </div>
                <div class="card-body">
                    <form action="POST" action="{% url 'process_order'%}">
                        {% csrf_token %}
                        {{ billing_form.as_p }}
                    </form>
                </div>
            </div>

            <button type="submit" class="btn btn-secondary">Pay now</button>
        </div>
    </div>
</div>
{% endblock %}